<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ServletJDBC</display-name>
  <welcome-file-list>
    <welcome-file>signin.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>p1.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>p1.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>p1.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/dashboard.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SignOutServlet</display-name>
    <servlet-name>SignOutServlet</servlet-name>
    <servlet-class>p1.SignOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutServlet</servlet-name>
    <url-pattern>/SignOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>p1.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
</web-app>