<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Eshop</display-name>
  <welcome-file-list>
    <welcome-file>signin.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>Auth</display-name>
    <filter-name>Auth</filter-name>
    <filter-class>service.Auth</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Auth</filter-name>
    <url-pattern>/dashboard.jsp</url-pattern>
  </filter-mapping>
</web-app>